<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="TestLogin">
    <classes>
      <class name="com.tests.SampleTest">
        <methods>
          <include name="TestLogin"/>
        </methods>
      </class>
    </classes>
  </test>
  <test name="TestTitle">
    <classes>
      <class name="com.tests.SampleTest">
      <methods>
        <include name="TestTitle"/>
      </methods>
      </class>
    </classes>
  </test>
</suite>
